.App {
  text-align: center;
  font-size: 1.5em; 
}

.App ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  background-color: #d8e2dc;
}

.App li {
  display: inline-block;
  margin: 20px;
}

.App a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.2em;
}

.App a:hover {
  color: gray;
}

@media(max-width: 318px){
  .App li {
    display: block;
    margin: auto;
  }
  .App a {
    color: black;
    font-weight: 400;
    font-size: 0.8em;
  }
}